[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/home/matt/projects/suckless/dwmstatus/dwmstatus
Restart=on-failure
RestartSec=3

[Unit]
After=graphical-session-pre.target
PartOf=graphical-session.target
