[Install]
WantedBy=graphical-session.target

[Service]
Environment="XAUTHORITY=/run/user/1000/xauthority"
WorkingDirectory=/home/matt/projects/flexim-go
ExecStart=/home/matt/projects/flexim-go/irc-client -c /home/matt/.config/flexim/irc-vps.yaml
Restart=on-failure
RestartSec=3

[Unit]
After=graphical-session-pre.target
PartOf=graphical-session.target
