[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/etc/profiles/per-user/matt/bin/xbanish
Restart=on-failure
RestartSec=3

[Unit]
After=graphical-session-pre.target
Description=xbanish
PartOf=graphical-session.target
